{{define "form_json_payload"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSON Payload</title>
</head>
<body>
    <form action="/upload" method="post" id="user-form">
        <table noborder>
            <tr>
                <td>Name :</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Age :</td>
                <td><input type="number" name="age"></td>
            </tr>
            <tr>
                <td>Gender :</td>
                <td>
                    <select name="gender">
                        <option value="no gender">Select One</option>
                        <option value="laki-laki">Male</option>
                        <option value="perempuan">Female</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>

    <script src="/static/jquery/jquery-3.7.1.min.js"></script>
    <script src="/static/js/payload-json.js"></script>
</body>
</html>
{{end}}