{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/static/css/site.css">
</head>
<body>

{{/*    <p>Welcome {{.name}}</p>*/}}
{{/*<p>memanggil costum fungsi : {{avg 1 2 3 4 5 6 7 8 9 10}}</p>*/}}

</body>
</html>
{{end}}